html {
    font-size: 16px;
    font-family: Roboto, sans-serif;
    font-weight: 500;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

:root {
    --dark-blue: #200772;
    --light-blue: #644aa0;
    --main-yellow: #FFF100;
    --main-orange: #FFB700;
    --main-black: #333;
    --main-white: #fff;
    --light-gray: #f1f1f1;
    --main-green: #4db803;
    --light-green: #87F03C;
    --bg-color: #edeef0;
    --component-bg-color: #acefe0;
    --menu-green: #3ba67a;
}

button {
    font-size: 16px;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    padding: 0;
    outline: none;
    cursor: pointer;

}

.container {
    width: 1200px;
    padding: 0 12px;
    margin: 0 auto;
}

.header {
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--bg-color);
}

.header-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    width: 120px;
    height: 40px;
    font-size: 20px;
    color: var(--main-green);
}

.header-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 260px;
}

.menu__button {
    width: 80px;
    height: 34px;
    color: var(--menu-green);
    background-color: var(--main-white);
    border: 1px solid var(--main-green);
    border-radius: 30px;
}

.menu__button:hover {
    color: var(--main-white);
    background-color: var(--main-green);
}

.board {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
    background: var(--bg-color);
    overflow: hidden;
}

.board-section {
    padding: 12px 0;
}

.board-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    background-color: var(--main-green);
    color: white;
    padding: 0 12px;
}

.task-add__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 22px;
    min-height: 22px;
    max-height: 22px;
    min-width: 22px;
    max-width: 22px;
    background-color: inherit;
    border: 2px solid #fff;
    border-radius: 4px;
    outline: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    color: var(--main-white);
}

.plus {

    width: 12px;
    height: 12px;
}

.plus svg {
    display: block;
    margin: 0 auto;
}

.board-main {
    display: flex;
    flex-direction: column;
    background-color: var(--main-white);
    height: 76vh;
    padding: 12px;
    overflow: auto;
    color: var(--light-blue);
}

.board-main::-webkit-scrollbar {
    width: 10px;
}

.board-main::-webkit-scrollbar-track {
    background: var(--main-white);
}

/* Handle */
.board-main::-webkit-scrollbar-thumb {
    background: lightblue;
}

.task-component {
    display: flex;
    flex-direction: column;
    height: auto;
    width: auto;
    padding: 12px;
    background-color: var(--component-bg-color);
    border-radius: 4px;
    margin-bottom: 12px;
}

.task-component__header {
    min-height: 20px;
}

.task-component__main {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 60px;
}

.component-avatar {
    margin-right: 10px;
}

.component-deadline {
    flex: 1 1 auto;
}

.component-comments__btn {
    border: none;
    background: transparent;
}