html {
    font-size: 16px;
    font-family: Roboto, sans-serif;
    font-weight: 500;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

:root {
    --dark-blue: #200772;
    --light-blue: #644aa0;
    --main-yellow: #FFF100;
    --main-orange: #FFB700;
    --main-red: #cc4e47;
    --main-black: #333;
    --main-white: #fff;
    --light-gray: #f1f1f1;
    --light-green: #87F03C;
    --bg-color: #edeef0;
    --component-bg-color: #acefe0;
    --main-green: #3ba67a;
    --track-color: #ADD8E6;
}

button {
    font-size: 16px;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    padding: 0;
    outline: none;
    cursor: pointer;

}

.container {
    width: 1200px;
    padding: 0 12px;
    margin: 0 auto;
}

.header {
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--bg-color);
}

.header-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    width: 120px;
    height: 40px;
    font-size: 20px;
    color: var(--main-green);
}

.header-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 260px;
}

.menu__button {
    width: 80px;
    height: 34px;
    color: var(--main-green);
    background-color: var(--main-white);
    border: 1px solid var(--main-green);
    border-radius: 4px;
}

.menu__buttonActive {
    color: var(--main-white);
    background-color: var(--main-green);
}

.menu__button:hover {
    color: var(--main-white);
    background-color: var(--main-green);
}

.logout__button {
    color: var(--main-red);
    border-color: var(--main-red);
}

.logout__button:hover {
    color: var(--main-white);
    background-color: var(--main-red);
}

.team-section, .goals-section, .login-section {
    display: none;
    min-height: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    background: var(--light-gray);
}

.sectionActive {
    display: block;
}

.section-main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 12px;
    padding: 12px;
    min-height: 40px;
    color: var(--light-blue);
    background: var(--main-white);
}

.member__block {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;
    padding: 6px;
    background: var(--main-green);
    border-radius: 4px;
}

.member-avatar {
    width: 30px;
    height: 30px;
    border-radius: 4px;
}

.member-name {
    color: var(--main-white);
}

.board {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
    background: var(--bg-color);
    overflow: hidden;
}

.board-section {
    padding: 12px 0;
}

.board-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    background-color: var(--main-green);
    color: white;
    padding: 0 12px;
}

.task-add__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 22px;
    min-height: 22px;
    max-height: 22px;
    min-width: 22px;
    max-width: 22px;
    background-color: inherit;
    border: 2px solid #fff;
    border-radius: 4px;
    outline: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    color: var(--main-white);
}

.plus {

    width: 12px;
    height: 12px;
}

.plus svg {
    display: block;
    margin: 0 auto;
}

.board-main {
    display: flex;
    flex-direction: column;
    background-color: var(--main-white);
    height: 76vh;
    padding: 12px;
    overflow: auto;
}

.board-main::-webkit-scrollbar {
    width: 10px;
}

.board-main::-webkit-scrollbar-track {
    background: var(--main-white);
}

.board-main::-webkit-scrollbar-thumb {
    background: var(--track-color);
}

.task {
    display: flex;
    flex-direction: column;
    height: auto;
    width: auto;
    padding: 12px;
    background-color: var(--component-bg-color);
    border-radius: 4px;
    margin-bottom: 12px;
}

.task-header {
    min-height: 30px;
    color: var(--light-blue);
}

.task-team {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    min-height: 40px;
    flex-shrink: 0;
}

.task-avatar {
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.task-main {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 30px;
}

.task-deadline {
    flex: 1 1 auto;
    color: var(--light-blue);
}

.task-comments__button {
    border: none;
    background: transparent;
    height: 30px;
    width: 30px;
}

.task-status {
    color: var(--light-blue);
}